@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto+Slab:wght@200&display=swap');


.landing {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 80vh; 
  }
  .textContainer{
    background-color: rgba(231, 231, 231);
    padding: 25px;
    width: max-content;
    box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.3); 
    /* text-align: center; */
  }
  .textHeader{
    font-size: 4rem;
    font-weight: bolder;
    margin-bottom: 20px;
  }
  
  .text {
    font-size: 1.4rem;
    /* text-align: center; */
    max-width: 600px;
    /* margin-right: 500px; */
    margin-left: 90px;

  }